## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` libary

In [4]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [24]:
# Your code here
sample_list_1 = []

for i in range(81):
    sample_list_1.append(random.randint(0, 100))
    
print(sorted(sample_list_1))

[0, 1, 3, 7, 8, 9, 9, 10, 11, 12, 15, 17, 18, 18, 19, 19, 22, 22, 25, 26, 27, 29, 31, 32, 34, 36, 38, 40, 41, 41, 41, 42, 42, 43, 45, 46, 48, 49, 51, 51, 51, 52, 52, 52, 55, 56, 57, 63, 64, 65, 65, 65, 68, 69, 69, 71, 71, 71, 72, 72, 72, 73, 75, 76, 77, 78, 79, 80, 80, 81, 83, 84, 84, 86, 89, 89, 89, 92, 94, 95, 98]

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [25]:
# Your code here
set1 = set((sample_list_1))
print(len(set1))

#No, because the set is only taking unique values

59

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [40]:
# Your code here
sample_list_2 = random.sample(range(0, 101), 80)
print(sorted(sample_list_2))

[0, 1, 2, 3, 4, 5, 6, 8, 10, 11, 12, 13, 14, 15, 16, 18, 20, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 38, 39, 40, 41, 42, 43, 44, 45, 47, 48, 49, 50, 51, 52, 53, 55, 56, 57, 58, 60, 62, 63, 64, 65, 66, 67, 69, 71, 72, 73, 75, 76, 77, 78, 79, 80, 82, 83, 86, 89, 91, 92, 93, 94, 95, 96, 98, 100]

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [43]:
# Your code here
set2 = set((sample_list_2))
print(len(set2))

#Yes

80

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [46]:
# Your code here

set3 = set()

for i in set1:
    if i in set1 and i not in set2:
        set3.add(i)
        
print(set3)

{68, 7, 46, 17, 84}

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [85]:
# Your code here

set4 = set()

for i in set2:
    if i not in set1 and i in set2:
        set4.add(i)
        
print(set4)

{0, 1, 2, 3, 4, 5, 6, 8, 11, 13, 14, 16, 20, 23, 24, 28, 29, 30, 31, 33, 35, 39, 41, 44, 47, 49, 50, 51, 53, 58, 60, 62, 66, 67, 69, 71, 79, 82, 89, 91, 93, 96, 100}

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [76]:
# Your code here

set5 = set()

for i in set1:
    if i in set1 and i in set2:
        set5.add(i)
        
print(set5)

{8, 10, 12, 15, 18, 22, 25, 26, 27, 32, 34, 36, 38, 40, 42, 43, 45, 48, 52, 55, 56, 57, 63, 64, 65, 72, 73, 75, 76, 77, 78, 80, 83, 86, 92, 94, 95, 98}

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formular to represent that relationship. Test your formular with Python code.

In [77]:
# Your code here

print("set1:",len(set1))
print("set2:",len(set2))
print("set3:",len(set3))
print("set4:",len(set4))
print("set5:",len(set5))

(len(set1) - len(set3)) == len(set5)
(len(set5) + len(set4)) == len(set2)

set1: 42
set2: 80
set3: 5
set4: 42
set5: 38

True

#### Create an empty set called `set6`.

In [78]:
# Your code here
set6 = set()

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [79]:
# Your code here
set6.update(set3)
set6.update(set5)
print(set6)

{7, 8, 10, 12, 15, 17, 18, 22, 25, 26, 27, 32, 34, 36, 38, 40, 42, 43, 45, 46, 48, 52, 55, 56, 57, 63, 64, 65, 68, 72, 73, 75, 76, 77, 78, 80, 83, 84, 86, 92, 94, 95, 98}

#### Check if `set1` and `set6` are equal.

In [80]:
# Your code here
set1 == set6

#Yes, they are equal

False

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [81]:
# Your code here
print(set1.issubset(set2))
print(set1.issubset(set3))

False
False

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [82]:
# Your code here

set7 = set()
set8 = set()

print(set7.union(set3,set4,set5))
print(set8.union(set1,set2))

set7 == set8

{0, 1, 2, 3, 4, 5, 6, 7, 8, 10, 11, 12, 13, 14, 15, 16, 17, 18, 20, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 55, 56, 57, 58, 60, 62, 63, 64, 65, 66, 67, 68, 69, 71, 72, 73, 75, 76, 77, 78, 79, 80, 82, 83, 84, 86, 89, 91, 92, 93, 94, 95, 96, 98, 100}
{0, 1, 2, 3, 4, 5, 6, 8, 10, 11, 12, 13, 14, 15, 16, 17, 18, 20, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 55, 56, 57, 58, 60, 62, 63, 64, 65, 66, 67, 68, 69, 71, 72, 73, 75, 76, 77, 78, 79, 80, 82, 83, 84, 86, 89, 91, 92, 93, 94, 95, 96, 98, 100}

True

#### Using the `pop` method, remove the first element from `set1`.

In [83]:
# Your code here
print(set1.pop())

8

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [84]:
# Your code here

list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]

for i in list_to_remove:
    if i in set1:
        set1.discard(i)

print(set1)

{10, 12, 15, 17, 18, 22, 25, 26, 27, 32, 34, 36, 38, 40, 42, 43, 45, 46, 48, 52, 55, 56, 57, 63, 64, 65, 68, 72, 73, 75, 76, 77, 78, 80, 83, 84, 86, 92, 94, 95, 98}