# Challenge 3

In this challenge we will work on the `Orders.csv` data set in the previous [Subsetting and Descriptive Stats lab](../../lab-subsetting-and-descriptive-stats/your-code/main.ipynb). In your work you will apply the thinking process and workflow we showed you in Challenge 2.

You are serving as a Business Intelligence Analyst at the headquarter of an international fashion goods chain store. Your boss today asked you to do two things for her:

**First, identify two groups of customers from the data set.** The first group is **VIP Customers** whose **aggregated expenses** at your global chain stores are **above the 95th percentile** (aka. 0.95 quantile). The second group is **Preferred Customers** whose **aggregated expenses** are **between the 75th and 95th percentile**.

**Second, identify which country has the most of your VIP customers, and which country has the most of your VIP+Preferred Customers combined.**

# Q1: How to identify VIP & Preferred Customers?

We start by importing all the required libraries:

In [1]:
# import required libraries
import numpy as np
import pandas as pd

Next, import `Orders.csv` from the "subsetting" lab folder into a dataframe variable called `orders`. Print the head of `orders` to overview the data:

In [158]:
# enter your code here
orders = pd.read_csv("../../lab-subsetting-and-descriptive-stats/your-code/Orders.csv")
orders.head()

,Unnamed: 0,InvoiceNo,StockCode,year,month,day,hour,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,amount_spent
0,0,536365,85123A,2010,12,3,8,white hanging heart t-light holder,6,2010-12-01 08:26:00,2.55,17850,United Kingdom,15.30
1,1,536365,71053,2010,12,3,8,white metal lantern,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34
2,2,536365,84406B,2010,12,3,8,cream cupid hearts coat hanger,8,2010-12-01 08:26:00,2.75,17850,United Kingdom,22.00
3,3,536365,84029G,2010,12,3,8,knitted union flag hot water bottle,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34
4,4,536365,84029E,2010,12,3,8,red woolly hottie white heart.,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34

---

"Identify VIP and Preferred Customers" is the non-technical goal of your boss. You need to translate that goal into technical languages that data analysts use:

## How to label customers whose aggregated `amount_spent` is in a given quantile range?

We break down the main problem into several sub problems:

#### Sub Problem 1: How to aggregate the  `amount_spent` for unique customers?

#### Sub Problem 2: How to select customers whose aggregated `amount_spent` is in a given quantile range?

#### Sub Problem 3: How to label selected customers as "VIP" or "Preferred"?

*Note: If you want to break down the main problem in a different way, please feel free to revise the sub problems above.*

Now in the workspace below, tackle each of the sub problems using the iterative problem solving workflow. Insert cells as necessary to write your codes and explain your steps.

In [206]:
# your code here

#Sub Problem 1: How to aggregate the amount_spent for unique customers?
customer_spend_agg = orders.groupby('CustomerID')['amount_spent'].sum().reset_index()

#Sub Problem 2: How to select customers whose aggregated amount_spent is in a given quantile range?
customer_spend_agg['Percentiles'] = pd.qcut(
    customer_spend_agg['amount_spent'],
    [0, .25, .75, .95, 1],
    labels = [25, 75, 95, 100]
)

#Sub Problem 3: How to label selected customers as "VIP" or "Preferred"?
customer_spend_agg['Customer_Rank'] = np.where(
    customer_spend_agg['Percentiles'] >= 95,
    'VIP',
    np.where(
        (customer_spend_agg['Percentiles'] >= 75) & (customer_spend_agg['Percentiles'] <= 95),
        'Preferred',
        'Standard'
    )
)

# customer_spend_agg

      CustomerID  amount_spent Percentiles Customer_Rank
0          12346      77183.60         100           VIP
1          12347       4310.00          95           VIP
2          12348       1797.24          95           VIP
3          12349       1757.55          95           VIP
4          12350        334.40          75     Preferred
5          12352       2506.04          95           VIP
6          12353         89.00          25      Standard
7          12354       1079.40          75     Preferred
8          12355        459.40          75     Preferred
9          12356       2811.43          95           VIP
10         12357       6207.67         100           VIP
11         12358       1168.06          75     Preferred
12         12359       6372.58         100           VIP
13         12360       2662.06          95           VIP
14         12361        189.90          25      Standard
15         12362       5226.23          95           VIP
16         12363        552.00          75     Preferred
17         12364       1313.10          75     Preferred
18         12365        641.38          75     Preferred
19         12367        168.90          25      Standard
20         12370       3545.69          95           VIP
21         12371       1887.96          95           VIP
22         12372       1298.04          75     Preferred
23         12373        364.60          75     Preferred
24         12374        742.93          75     Preferred
25         12375        457.50          75     Preferred
26         12377       1628.12          75     Preferred
27         12378       4008.62          95           VIP
28         12379        852.24          75     Preferred
29         12380       2724.81          95           VIP
...          ...           ...         ...           ...
4309       18242       2232.49          95           VIP
4310       18245       2567.06          95           VIP
4311       18246        596.10          75     Preferred
4312       18248        804.02          75     Preferred
4313       18249         95.34          25      Standard
4314       18250        349.27          75     Preferred
4315       18251       4314.72          95           VIP
4316       18252        526.67          75     Preferred
4317       18255        103.30          25      Standard
4318       18257       2337.63          95           VIP
4319       18259       2338.60          95           VIP
4320       18260       2643.20          95           VIP
4321       18261        324.24          75     Preferred
4322       18262        149.48          25      Standard
4323       18263       1213.16          75     Preferred
4324       18265        801.51          75     Preferred
4325       18268         25.50          25      Standard
4326       18269        168.60          25      Standard
4327       18270        283.15          25      Standard
4328       18272       3078.58          95           VIP
4329       18273        204.00          25      Standard
4330       18274        175.92          25      Standard
4331       18276        335.86          75     Preferred
4332       18277        110.38          25      Standard
4333       18278        173.90          25      Standard
4334       18280        180.60          25      Standard
4335       18281         80.82          25      Standard
4336       18282        178.05          25      Standard
4337       18283       2094.88          95           VIP
4338       18287       1837.28          95           VIP

[4339 rows x 4 columns]

Now we'll leave it to you to solve Q2 & Q3, which you can leverage from your solution for Q1:

# Q2: How to identify which country has the most VIP Customers?

# Q3: How to identify which country has the most VIP+Preferred Customers combined?

Provide your solution for Q2 below:

In [211]:
# your code here

#Merge unique customer table to original table
orders_merged = pd.merge(customer_spend_agg[['CustomerID', 'Percentiles', 'Customer_Rank']], orders[['CustomerID', 'Country']].drop_duplicates(), on = 'CustomerID', how = 'left')

#Get VIP customers Only
orders_VIP = orders_merged[orders_merged['Customer_Rank'] == 'VIP']

#Group by country and return count of VIP customers
orders_VIP.groupby('Country')['CustomerID'].count().sort_values(ascending = False)

Country
United Kingdom     932
Germany             39
France              29
Belgium             12
Spain                9
Switzerland          9
Portugal             7
Norway               7
Italy                5
Finland              5
Channel Islands      4
Cyprus               4
Australia            4
Japan                4
EIRE                 3
Denmark              3
Austria              3
Sweden               2
Israel               2
Iceland              1
Greece               1
Lebanon              1
Malta                1
Netherlands          1
Poland               1
Singapore            1
Canada               1
Name: CustomerID, dtype: int64

Provide your solution for Q3 below:

In [216]:
# your code here

#Get VIP customers + Preferred Customers
orders_VIP_Preferred = orders_merged[(orders_merged['Customer_Rank'] == 'Preferred') | (orders_merged['Customer_Rank'] == 'VIP')]

#Group by country and return count of VIP & Preferred customers
orders_VIP_Preferred.groupby('Country')['CustomerID'].count().sort_values(ascending = False)

Country
United Kingdom          2894
Germany                   83
France                    71
Spain                     24
Belgium                   22
Switzerland               21
Portugal                  18
Italy                     12
Finland                   10
Austria                   10
Channel Islands            9
Norway                     9
Australia                  9
Denmark                    8
Cyprus                     7
Netherlands                7
Sweden                     7
Japan                      6
Greece                     4
Unspecified                4
Poland                     4
EIRE                       3
USA                        3
Malta                      2
Canada                     2
United Arab Emirates       2
Israel                     2
Iceland                    1
Lebanon                    1
Lithuania                  1
European Community         1
Czech Republic             1
RSA                        1
Singapore                  1
Brazil                     1
Bahrain                    1
Name: CustomerID, dtype: int64